 .u-section-1 {
  background-image: url("images/Screenshot2023-01-17192635.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 962px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 176px 0 208px;
}

.u-section-1 .u-image-1 {
  width: 674px;
  height: 489px;
  margin: 13px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px auto 60px;
  padding: 16px 74px 17px 72px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 108px;
    margin-right: 76px;
  }

  .u-section-1 .u-image-1 {
    height: 490px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 393px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-image-1 {
    height: 247px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 662px;
}

.u-section-2 .u-text-1 {
  margin: 94px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 60px 0 14px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 458px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-shape-1 {
  width: 109px;
  height: 109px;
  margin: 53px auto 0;
}

.u-section-2 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: -104px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-3 {
  width: 332px;
  margin: 25px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-shape-2 {
  width: 109px;
  height: 109px;
  margin: 53px auto 0;
}

.u-section-2 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: -104px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 27px auto 0;
}

.u-section-2 .u-text-5 {
  width: 332px;
  margin: 25px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: -48px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 88px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 218px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 90px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 53px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 784px;
  }

  .u-section-2 .u-text-3 {
    width: 320px;
  }

  .u-section-2 .u-text-5 {
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 793px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 961px;
  margin: 145px auto 57px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 616px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 166px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  width: 183px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 18px 31px 0;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  line-height: 2;
  margin: 22px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-3 .u-form-group-4 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 26px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: 144px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    width: 144px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 21px;
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-7 {
    margin-top: 19px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }
}